@layer base {
  html {
    font-size: 14px !important;
  }

  *,
  ::before,
  ::after {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }

  input,
  textarea {
    -webkit-appearance: none;
    /*去除ios阴影*/
  }
}

@layer utilities {
  @responsive {
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }

    .scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
  }
}

@layer components {

  /*宽高等比*/
  .wh-square::before {
    content: "";
    padding-top: 100%;
    float: left;
  }

  .wh-square::after {
    content: "";
    display: block;
    clear: both;
  }

  /* 隐藏滚动条 */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /*vue 渲染完成后显示*/
  [v-cloak] {
    display: none !important;
  }

  .scroll-behavior-smooth {
    scroll-behavior: smooth;
  }
}