@layer base {
  html,
  body {
    -webkit-touch-callout: none; /*禁用系统默认菜单*/
    -webkit-text-size-adjust: none; /*禁止移动端 文字缩放*/
    -webkit-tap-highlight-color: transparent; /*重置ios点击灰色背景*/
    -webkit-user-select: none; /*禁止选中文字*/
  }

  /* 解决使用有赞下拉刷新组件,sticky无效的问题 */
  .van-pull-refresh {
    overflow: initial !important;
  }
}

@layer components {
  /* 安全区 */
  :root {
    --env-safe-area-inset-top: env(safe-area-inset-top);
    --env-safe-area-inset-bottom: env(safe-area-inset-bottom);
    --constant-safe-area-inset-top: constant(safe-area-inset-top);
    --constant-safe-area-inset-bottom: constant(safe-area-inset-bottom);
  }

  .border-t-safe {
    border-top: 25px solid transparent;
  }
  @supports (
    (border: env(safe-area-inset-top)) or
      (border: constant(safe-area-inset-top))
  ) {
    .border-t-safe {
      border-top: max(
          var(--env-safe-area-inset-top, var(--constant-safe-area-inset-top)),
          25px
        )
        solid transparent;
    }
  }

  .border-b-safe {
    border-bottom: var(
        --env-safe-area-inset-bottom,
        var(--constant-safe-area-inset-bottom)
      )
      solid transparent;
  }
}
